{% extends 'layout.html' %}

{% block main_body %}

	  <div class="container-full" id="app">
		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-10">
					<div class="box bg-primary-light">
						<div class="box-body d-flex px-0">
							<div class="flex-grow-1 p-30 flex-grow-1 bg-img dask-bg bg-none-md" style="background-position: right bottom; background-size: auto 100%; background-image: url(../images/svg-icon/color-svg/custom-1.svg)">
								<div class="row">
									<div class="col-12 col-xl-7">
										<h2>欢迎使用Klang 量化 <strong> 我的朋友们</strong></h2>


										<p class="text-dark my-10 fs-16">
											祝您天天 <strong class="text-warning"> 涨涨涨！</strong>
										</p>
									</div>
									<div class="col-12 col-xl-5"></div>
								</div>
							</div>
						</div>
					</div>
		
				</div>
			</div>
			<div class="row">
				<div class="col-10">

					<div class="box mb-15 pull-up">
						<div>
							<div class="table-responsive">
								<table class="table no-border mb-0">
									<tbody>
										<tr>
											<td class="min-w-50">
												<div class="bg-info-light h-50 w-50 l-h-50 rounded text-center">
													<span class="icon-Book-open fs-24"><i class="fa fa-calendar-minus-o fs-16" aria-hidden="true"></i>
												</span></div>
											</td>
	
											<td class="fw-600 fs-16 min-w-150 text-center">
												<i class="fa fa-fw fa-circle text-light fs-12" v-if="online==0"></i>
												<i class="fa fa-fw fa-circle text-primary fs-12" v-if="online==1"></i>
												 链接状态</td>
											
											
											<td class="fw-400 fs-16 min-w-150 text-center" id="connect"><a class="btn btn-flat btn-info">连接服务器</a></td>
											<td class="fw-400 fs-16 min-w-150 text-center" id="stop_server"><a class="btn btn-flat btn-info">停止服务器</a></td>
											<td class="fw-600 fs-16 min-w-150 text-center" id="restart_server"><a class="btn btn-flat btn-warning">重启服务器</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>


					<div class="box mb-15 pull-up">
						<div>
							<div class="table-responsive">
								<table class="table no-border mb-0">
									<tbody>
										<tr>
											<td class="min-w-50">
												<div class="bg-warning-light h-50 w-50 l-h-50 rounded text-center">
													<span class="icon-Book-open fs-24"><i class="fa fa-calendar-minus-o fs-16" aria-hidden="true"></i>
												</span></div>
											</td>
											<td class="fw-600 fs-16 min-w-150 text-center" >动态数据</td>
											<td class="fw-600 fs-16 min-w-150 text-center"><i class="fa fa-fw fa-circle text-light fs-12" style="visibility: hidden"></i> 股票数据</td>
											<td class="fw-600 fs-16 min-w-150 text-center" id="updatedata"><a class="btn btn-flat btn-info">更新数据</a></td>
											<td class="fw-400 fs-16 min-w-150 text-center" id="downloaddata"><a class="btn btn-flat btn-warning">覆盖全部数据</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>


				</div>
			</div>

			<div class="row">
				<div class="col-10">
					<div class="box">
						<div class="box-header with-border">
						
							<div class="demo-checkbox">
								<input type="checkbox" id="md_checkbox_21" class="filled-in chk-col-primary" checked="" v-model="sourcelist.macd.select">
								<label for="md_checkbox_21"><h4 class="box-title">MACD（3日内出现金叉）</h4></label>
								<input type="checkbox" id="md_checkbox_211" class="filled-in chk-col-primary" checked="" v-model="sourcelist.macd.dea">
								<label for="md_checkbox_211"  style="margin-left:40px;"><h4 class="box-title">0轴上方</h4></label>	
				
							</div>
		  
							
						</div>
						<div class="box-body" v-if="sourcelist.macd.select">
							<div class="demo-radio-button">
								<input name="group5" type="radio" id="radio_535" class="with-gap radio-col-warning" v-model="sourcelist.macd.period" value="C">
								<label for="radio_535">日线</label>
								<input name="group5" type="radio" id="radio_532" class="with-gap radio-col-success" v-model="sourcelist.macd.period" value="WC">
								<label for="radio_532">周线</label>
								<input name="group5" type="radio" id="radio_533" class="with-gap radio-col-info" v-model="sourcelist.macd.period" value="MC">
								<label for="radio_533">月线</label>

							</div>
						</div>

					</div>

					<div class="box">
						<div class="box-header with-border">
						
							<div class="demo-checkbox">
								<input type="checkbox" id="md_checkbox_21_2" class="filled-in chk-col-primary" checked="" v-model="sourcelist.macdrelay.select">
								<label for="md_checkbox_21_2"><h4 class="box-title">MACD 空中加油( 与MACD金叉二选一 )</h4></label>
							</div>
		  
							
						</div>
						<div class="box-body" v-if="sourcelist.macd.select">
							<div class="demo-radio-button">
								<input name="group5_2" type="radio" id="radio_535_2" class="with-gap radio-col-warning" v-model="sourcelist.macdrelay.period" value="C">
								<label for="radio_535_2">日线</label>
								<input name="group5_2" type="radio" id="radio_532_2" class="with-gap radio-col-success" v-model="sourcelist.macdrelay.period" value="WC">
								<label for="radio_532_2">周线</label>
								<input name="group5_2" type="radio" id="radio_533_2" class="with-gap radio-col-info" v-model="sourcelist.macdrelay.period" value="MC">
								<label for="radio_533_2">月线</label>

							</div>
						</div>

					</div>

					<div class="box">
						<div class="box-header with-border">
						
							<div class="demo-checkbox">
								<input type="checkbox" id="md_checkbox_22" class="filled-in chk-col-success" checked="" v-model="sourcelist.turn.select">
								<label for="md_checkbox_22"><h4 class="box-title">换手率</h4></label>	
								
								<label style="margin-left: 10px;margin-right: 5px; min-width: 40px;width:auto;">大于:</label>	
								<input class="filled-in chk-col-success"  type="number" name="number" v-model="sourcelist.turn.objturn">
										
									
											
							</div>
		  
							
						</div>
						<div class="box-body" v-if="sourcelist.turn.select">
							<div class="demo-radio-button" >
								<input name="group6" type="radio" id="radio_635" class="with-gap radio-col-warning"  v-model="sourcelist.turn.period" value="T">
								<label for="radio_635">日线</label>
								<input name="group6" type="radio" id="radio_632" class="with-gap radio-col-success" v-model="sourcelist.turn.period" value="WT">
								<label for="radio_632">周线</label>
								<input name="group6" type="radio" id="radio_633" class="with-gap radio-col-info" v-model="sourcelist.turn.period" value="MT">
								<label for="radio_633">月线</label>

							</div>
						</div>
					</div>

					<div class="box">
						<div class="box-header with-border">
						
							<div class="demo-checkbox">
								<input type="checkbox" id="md_checkbox_23" class="filled-in chk-col-info" checked="" v-model="sourcelist.volatility.select">
								<label for="md_checkbox_23"><h4 class="box-title">横盘波动率</h4></label>					
							</div>
		  
							
						</div>
						<div class="box-body" v-if="sourcelist.volatility.select">
							<div class="demo-radio-button">
								<input name="group7" type="radio" id="radio_735" class="with-gap radio-col-warning" v-model="sourcelist.volatility.period" value="D">
								<label for="radio_735">日线</label>
								<input name="group7" type="radio" id="radio_732" class="with-gap radio-col-success" v-model="sourcelist.volatility.period" value="W">
								<label for="radio_732">周线</label>
								<input name="group7" type="radio" id="radio_733" class="with-gap radio-col-info" v-model="sourcelist.volatility.period" value="M">
								<label for="radio_733">月线</label>

							</div>
						</div>
					</div>

					<div class="box">
						<div class="box-header with-border">
						
							<div class="demo-checkbox">
								<input type="checkbox" id="md_checkbox_24" class="filled-in chk-col-warning" checked="" v-model="sourcelist.vol.select">
								<label for="md_checkbox_24"><h4 class="box-title">成交量放大</h4></label>					
							</div>
		  
							
						</div>
						<div class="box-body" v-if="sourcelist.vol.select">
							<div class="demo-radio-button">
								<input name="group8" type="radio" id="radio_835" class="with-gap radio-col-warning" v-model="sourcelist.vol.period" value="V">
								<label for="radio_835">日线</label>
								<input name="group8" type="radio" id="radio_832" class="with-gap radio-col-success" v-model="sourcelist.vol.period" value="WV">
								<label for="radio_832">周线</label>
								<input name="group8" type="radio" id="radio_833" class="with-gap radio-col-info" v-model="sourcelist.vol.period" value="MV">
								<label for="radio_833">月线</label>

							</div>
						</div>
					</div>



					<div class="box">
						<div class="box-header with-border">
						
							<div class="demo-checkbox">
								<input type="checkbox" id="md_checkbox_25" class="filled-in chk-col-danger" checked="" v-model="sourcelist.ma30.select">
								<label for="md_checkbox_25"><h4 class="box-title">价格上穿N周期均线(2周期内)</h4></label>
								<label style="margin-left: 10px;margin-right: 5px; min-width: 40px;width:auto;">周期</label>	
								<input class="filled-in chk-col-success"  type="number" name="number" v-model="sourcelist.ma30.objval">					
							</div>
		  
							
						</div>
						<div class="box-body" v-if="sourcelist.ma30.select">
							<div class="demo-radio-button">
								<input name="group9" type="radio" id="radio_935" class="with-gap radio-col-warning" v-model="sourcelist.ma30.period" value="C">
								<label for="radio_935">日线</label>
								<input name="group9" type="radio" id="radio_932" class="with-gap radio-col-success" v-model="sourcelist.ma30.period" value="WC">
								<label for="radio_932">周线</label>
								<input name="group9" type="radio" id="radio_933" class="with-gap radio-col-info" v-model="sourcelist.ma30.period" value="MC">
								<label for="radio_933">月线</label>

							</div>
						</div>
					</div>



					<div class="box">
						<div class="box-header with-border">
						
							<div class="demo-checkbox">
								<input type="checkbox" id="md_checkbox_code" class="chk-col-success" v-model="showcode">
								<label for="md_checkbox_code"><h4 class="box-title">显示源代码</h4></label>		
								<input type="checkbox" id="md_klang_server" class="chk-col-success" v-model="klangserver">
								<label for="md_klang_server"><h4 class="box-title">远程运行</h4></label>	

								<input type="checkbox" id="md_klang_date" class="chk-col-success" v-model="klangdate">
								<label for="md_klang_date" style="margin-left: 10px;margin-right: 5px; min-width: 40px;width:auto;" ><h4 class="box-title">复盘日期</h4></label>
								<input class="filled-in chk-col-success"  type="text" v-if="klangdate" v-model="inputdate">	


							</div>
		  
							<textarea rows="15" class="form-control" v-if="showcode" v-model="sourcecode"></textarea>
						</div>
						<div class="box-footer text-end">
							<div class="spinner-border spinner-border-sm text-primary" role="status" v-if="work" style="margin-right:15px;">
								<span class="visually-hidden">.</span>
							</div>
							<span>{{runcode}}</span>
							<a  class="btn btn-danger" style="margin-left:5px;" id="run">
							  运行
							</a>
						</div>
					</div>

					<div class="box">
					   <div class="box-body">
						<div class="table-responsive"></div>

						<table class="table table-bordered mb-0">
						<thead>
						<tr>
						<th scope="col">#</th>
						<th scope="col">name</th>
						<th scope="col">code</th>
						<th scope="col">值</th>
						<th scope="col">流通值(亿)</th>
						<th scope="col">板块</th>
						<th scope="col">概念板块</th>
						<th scope="col">筹码</th>
						</tr>
						</thead>
						 <tbody>
							<tr v-for="(item,index) in result" >
							<th scope="row" >{{index+1}}</th>
							<td><a v-bind:href="'https://klang.org.cn/kline.html?code='+item.code" target=_blank @click="openbrowser($event)">{{item.name}}</a></td>
							<td><a v-bind:href="'https://gu.qq.com/'+item.code" target=_blank @click="openbrowser($event)"><font color=blue>{{item.code}}</font></a></td>
							<td>{{item.value}}</td>
							<td>{{item.hqltsz}}</td>
							<td>{{item.tdxbk}}</td>
							<td>{{item.tdxgn}}</td>
							<td>{{item.chouma}}</td>
							</tr>
							</tbody>
						</table> 
					    </div> <!--box-body-->
					</div>

					</div><!--box-->	


				</div><!--col-12-->
				
			 </div>
		</section>
		<!-- /.content -->
	  </div>


 {% endblock %}

 {% block externjs %}

 <script>
   $(document).ready(async function(){
	 
   })
 </script>

<script>
		const {shell} = require('electron')
		
		
	    iohost = "http://127.0.0.1:9088/user"
	    //iohost = "http://192.168.123.169:9088/user"
	   
		const VueApp = {
		  data() {
			  return {
				  online:0,
				  work:0,
				  toask:"",			
				  result:[],
				  

				  pages:{
					page:[],
					curnum:0,
					pagesize:20,
					pagenums:[],
				  },
				  sourcelist:{
					macd:{
						title: "### MACD 金叉计算公式 ###\n",
						code:""+
						"diff,dea,macd = MACD(PERIOD);\n"+
						"ret = CROSS(diff,dea)\n"+
 						"retmacd = False ; \n"+
						"if ret or ret[-1] or ret[-2] :\n"+
 						"       retmacd = True\n",
						condition:"retmacd",
						period:"C",
						select:true,
						dea:false,
						skyrelay:false,
					},
					macdrelay:{
						title: "### MACD 空中加油计算公式 ###\n",
						code:""+
						"diff,dea,macd = MACD(PERIODRELAY);\n"+
	
 						"retmacdrelay = False ; \n"+
						"if dea > 0 and diff > dea and diff > diff[1] and diff[1] < diff[2] and diff[2] < diff[3]:\n"+
 						"       retmacdrelay = True\n",
						condition:"retmacdrelay",
						period:"C",
						select:false,
					},
					turn:{
						title:"###  换手率计算公式 (3个周期有任意周期满足大于已填换手率的值)  ###\n",
						code:""+
						"retturn = 0\n"+
						"if PERIODT > objturn or  PERIODT[1] > objturn or  PERIODT[2] > objturn:\n"+
						"  retturn = 1\n",
						condition:"retturn",
						period:"MT",
						select:true,
						objturn:"90",
					},
				   vol:{
						title:"###  成交量放大公式  ###\n",
						code:""+
						"retvol = 0\n"+
						"ma10vol = MA(PERIODV,10)\n"+
						"ma10vol = ma10vol * 2\n"+
						"if V >= ma10vol:\n"+
						"   retvol = 1",
						condition:"retvol",
						period:"V",
						select:true,
					},
					volatility:{
						title:"###  横盘震荡公式  ###\n",
						code:""+
						"retvolatility = 0\n"+
						"volati = TRANSVERSE(PERIOD_H,PERIOD_L,60)\n"+
						"if volati< 30:\n"+
						"   retvolatility = 1\n",
						condition:"retvolatility",
						period:"D",
						select:true,
					},
					ma30:{
						title:"###  上穿30日均线公式  ###\n",
						code:""+
						"retma30 = 0 \n"+
						"ma30 = MA(PERIODMA,ma30objval)\n" +
						"ret = CROSS(PERIODMA,ma30)\n"+
						"if ret or ret[-1]:\n" + 
						" retma30 = 1",
						condition:"retma30",
						period:"C",
						select:true,
						objval:30,
					}
				},
				  info:{code:"",name:"",
					stocklength:0,
					curlength:0,
					cost:0,
					value:0,
					per:0,
					tempcost:0,
					alert:0,
				  },
				showcode:false,
				sourcecode:"",
				klangserver:false,
				runcode:"",
				klangdate:false,
				inputdate:""



				 
			  }
		  },
	  
		  created() {
			  
		  },
  
		  async mounted () {

			var today = new Date();
			this.inputdate = today.toLocaleDateString().replaceAll("/","-");
			this.make_code()
		  },
		  methods: {


			openbrowser:function(event){
				url = event.target.href
				event.preventDefault();
				shell.openExternal(url);
			},
			make_code(){
				//"macd","turn", "vol","ma30","volatility"
				var code = ""
				var condition = "if True "

				code += "PROGRESS(3);\n";

				if (this.klangdate == true){

					code += "date('2021-01-01','" + this.inputdate +"')\n";
				}
				//macd
				if (this.sourcelist.macd.select == true) {
					code += this.sourcelist.macd.title;
					macd_period = "PERIOD = " + this.sourcelist.macd.period  + "\n";

					code += macd_period + this.sourcelist.macd.code + "\n";

					if (this.sourcelist.macd.dea == true){

						//0 轴上方
						code += " if dea < 0:\n" +
								"    retmacd = False\n";
					}

					condition += " and " + this.sourcelist.macd.condition
				}
				
				//macd 空中加油
				if (this.sourcelist.macdrelay.select == true) {
					code +=this.sourcelist.macdrelay.title;
					relay_period = "PERIODRELAY = " + this.sourcelist.macdrelay.period  + "\n";
					code += relay_period + this.sourcelist.macdrelay.code + "\n";
					condition += " and " + this.sourcelist.macdrelay.condition
				}

				//turn 
				if (this.sourcelist.turn.select == true) {
					code +=this.sourcelist.turn.title;
					turn_period = "PERIODT = " + this.sourcelist.turn.period  + "\n";
					code += "objturn = " + this.sourcelist.turn.objturn + "\n";
					code += turn_period + this.sourcelist.turn.code + "\n";
					condition += " and " + this.sourcelist.turn.condition
				}
				
				//vol
				if (this.sourcelist.vol.select == true) {
					code +=this.sourcelist.vol.title;
					vol_period = "PERIODV = " + this.sourcelist.vol.period  + "\n";
					code += vol_period + this.sourcelist.vol.code + "\n";
					condition += " and " + this.sourcelist.vol.condition
				}

				//volatility
				if (this.sourcelist.volatility.select == true) {
					code +=this.sourcelist.volatility.title;
					if (this.sourcelist.volatility.period == "D"){
						volatility_period = "PERIOD_H = H;\n"
						volatility_period += "PERIOD_L = L;\n"
					}

					if (this.sourcelist.volatility.period == "W"){
						volatility_period = "PERIOD_H = WH;\n"
						volatility_period += "PERIOD_L = WL;\n"
					}

					
					if (this.sourcelist.volatility.period == "M"){
						volatility_period = "PERIOD_H = MH;\n"
						volatility_period += "PERIOD_L = ML;\n"
					}
					
					
					code += volatility_period + this.sourcelist.volatility.code + "\n";
					condition += " and " + this.sourcelist.volatility.condition
				}

				//ma30
				if (this.sourcelist.ma30.select == true) {
					
					code +=this.sourcelist.ma30.title;
					code += "ma30objval =" +  this.sourcelist.ma30.objval + "\n";
					ma30_period = "PERIODMA = " + this.sourcelist.ma30.period  + "\n";
					code += ma30_period + this.sourcelist.ma30.code + "\n";
					condition += " and " + this.sourcelist.ma30.condition
				}

				condition += ":\n" +
				"      DISPLAY(C);\n";
				
				this.sourcecode = code + condition 

			}
		  },
		  watch:{

			"sourcelist.macd.select":function(newval,old){

				this.make_code()
			},
			"sourcelist.macd.dea":function(newval,old){

				this.make_code()//0轴上方
			},
			"sourcelist.macdrelay.select":function(newval,old){

				this.make_code() //空中加油
			},
			"sourcelist.macdrelay.period":function(newval,old){

				this.make_code()
			},
			"sourcelist.macd.period":function(newval,old){
				this.make_code()
			},
			"sourcelist.turn.select":function(newval,old){

				this.make_code()
			},
			"sourcelist.turn.period":function(newval,old){
				this.make_code()
			},
			"sourcelist.turn.objturn":function(newval,old){
				this.make_code()
			},
			
			"sourcelist.vol.select":function(newval,old){

				this.make_code()
			},
			"sourcelist.vol.period":function(newval,old){
				this.make_code()
			},

			"sourcelist.ma30.select":function(newval,old){

				this.make_code()
			},
			"sourcelist.ma30.period":function(newval,old){
				this.make_code()
			},
			"sourcelist.ma30.objval":function(newval,old){
				this.make_code()
			},
			klangdate:function(newval,old){
				this.make_code()

			},
			inputdate:function(newval,old){
				this.make_code()
			},
  
			klangserver:function(newval,old){
				if (this.klangserver == true){
					iohost = "https://klang.org.cn:8099/user";

				} else {
					iohost = "http://127.0.0.1:9088/user"
				}

				newconnect(iohost)
				vue.$data.online = 1
			}

		  }
		}//VueApp
		window.vue = Vue.createApp(VueApp).mount('#app')
  
  
		var run = document.querySelector('#run');
		var reconnect = document.querySelector('#connect');
		var updatedata = document.querySelector('#updatedata');
		var downloaddata = document.querySelector('#downloaddata');
		var restart_server = document.querySelector('#restart_server');
		var stop_server = document.querySelector('#stop_server');


		var socket;
		function newconnect(host){
			socket = io(host)
			socket.on("disconnect",(data)=>{
				socket.connect()
			})
			socket.on("u_done",data=>{
				console.log("u_done",data)
				vue.$data.work = 0
				vue.$data.runcode = ""

			})

			socket.on("u_info",data=>{
				console.log("u_info",data)
			})

			socket.on("u_ret",data=>{
				console.log("u_ret",data)
				if (data.retcode=="ERROR"){
					alert("系统正在执行其他任务，请稍等");
				} 
				if (data.retcode=="DISPLAY"){
					code = data.code.replace(".","")
					hqltsz = data.hqltsz.toFixed(2)
					tdxbk = data.tdxbk
					tdxgn = data.tdxgn
					chouma = data.chouma

					value = data.value
						
					vue.$data.result.push({name:data.name,code:code,value:value,hqltsz:hqltsz,tdxbk:tdxbk,tdxgn:tdxgn,chouma:chouma})
								
				}  

				if (data.retcode=="PROGRESS"){
					code = data.code.replace(".","")
					vue.$data.runcode = code 

				}
						   
			})



		} //new connect

		newconnect(iohost)
		 
		
		vue.$data.online = 1
   


  
		function send_task(){
				vue.$data.result = []
				 
				vue.$data.work = true

				socket.emit("uexec_event",{content:vue.$data.sourcecode,loop:true});
		}

		run.onclick = function (event) {
				  
			
				  console.log(vue.$data.online)
				  
				  if (vue.$data.work){
					vue.$data.toask.content = "我在计算中，你别总点我"
					vue.$data.toask.state = 1
					return 
				  }
  
				  send_task();
				 
		}
		updatedata.onclick = function(event){
			socket.emit("u_cmd_event",{content:"UPDATEALL"});
		}
  
		downloaddata.onclick = function(event){
			download_data_zip();
		}
		reconnect.onclick = function(event){

		}
		restart_server.onclick = function(event){
			reset_server(); //renderer.js
		}
		stop_server.onclick = function(event){
			stop_server_func(); //renderer.js
		}
		  
  
  </script>
 
 {% endblock %}