{% extends 'layout.html' %}

{% block main_body %}

	  <div class="container-full">
      <section class="content">

    
      <div class="row" >


			  <div class="col-12" >
          <div class="box box-solid bg-info">
            <div class="box-header">
            <h4 class="box-title"><strong>  服务器启动信息</strong></h4>
            </div>
  
  
            <div class="box-body">
              <pre>
                <code id="server_status">

                </code>

              </pre>

            </div>

              
            <div class="box-body">
              <pre>
                <code id="server_status_stderr">

                </code>
                
              </pre>

            </div>

          </div>
        </div>
      </div> <!--row-->
      
  </section>
  </div>


    {% endblock %}



    {% block externjs %}

    <script>
      $(document).ready(async function(){
        
        const result = await ipcRenderer.invoke('get_status', "")
        console.log(result);
        $("#server_status").html(result);

        const result1 = await ipcRenderer.invoke('get_status_stderr', "")
        console.log(result1);
        $("#server_status_stderr").html(result1);
    
      })
    </script>
    
    {% endblock %}

